body {
  background: #0099cc;
}
#canvas{
  background: #FFFFFF;
  display: block;
  margin: 0 auto;
  border-top: solid 6px #000000;
  border-right: solid 6px #000000;
  border-left: solid 6px #000000;
}
#canvasNews{
  background: #FFFFFF;
  display: block;
  margin: 0 auto;
  border-right: solid 6px #000000;
  border-left: solid 6px #000000;
  border-bottom: solid 6px #000000;
}

